body {
    background-color: rgb(220, 213, 213);
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(robert-keane-rlbG0p_nQOU-unsplash.jpg);
    background-size: cover;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: larger;
}

input {
    width: 200%;
    border-radius: 10px;
}

button {
    margin-top: 4px;
    align-items: center;
    border-radius: 8px;
    display: block;
}

.search {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allArt {
    display: flex;
    flex-wrap: wrap;
}

.artWorks {
    margin-top: 20px;
    background-color: #ffffff;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 8px;
    /* border: solid 1px #363f45; */
    border: solid 1px transparent;

    box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
        0 3px 6px 0 rgba(25, 32, 36, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 238px;
}
